{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="card shadow mb-4">
                <hr class="sidebar-divider">
        <div style="display: flex; justify-content: space-between;">
            <a class="btn btn-light btn-sm">Tabela firm</a>
            </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID rekordu</th>
                        <th>Nazwa firmy</th>
                        <th>ID firmy</th>
                        <th>NIP</th>
                        <th>Adres</th>
                        <th>Kod pocztowy</th>
                        <th>Miasto</th>
                        <th>Branża</th>
                        <th>Rozmiar firmy</th>
                        <th>Osoby kontaktowe</th>
                        <th>Szanse</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for user in result_co.records %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.fields.NAZWA}}</td>
                        <td>{{user.fields.ID_FIRMY}}</td>
                        <td>{{user.fields.NIP}}</td>
                        <td>{{user.fields.ULICA_NUMER}}</td>
                        <td>{{user.fields.KOD_POCZTOWY}}</td>
                        <td>{{user.fields.MIASTO}}</td>
                        <td>{{user.fields.BRANZA}}</td>
                        <td>{{user.fields.ROZMIAR_FIRMY}}</td>
                        <td>{{user.fields.OSOBY_KONTAKTOWE}}</td>
                        <td>{{user.fields.SZANSE}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}